USE [master]
GO
/****** Object:  Database [WorkMS]    Script Date: 8/4/2022 10:38:59 PM ******/
CREATE DATABASE [WorkMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WorkMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WorkMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WorkMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorkMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorkMS]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/4/2022 10:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeNumber] [int] NOT NULL,
	[Pasition] [nvarchar](50) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[DateOfEmployment] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeBackUp]    Script Date: 8/4/2022 10:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeBackUp](
	[Id] [int] NULL,
	[EmployeeNumber] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Pasition] [nvarchar](50) NOT NULL,
	[Phone] [int] NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[DateOfEmployment] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkTime]    Script Date: 8/4/2022 10:38:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkTime](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeNumber] [int] NOT NULL,
	[WorkDay] [int] NOT NULL,
	[EntryTime] [int] NOT NULL,
	[EntryMinutes] [int] NOT NULL,
	[EntrySeconds] [int] NOT NULL,
	[OutputTime] [int] NULL,
	[OutputMinutes] [int] NULL,
	[OutputSeconds] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
